.image-card1 {
  background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 645px;
    max-width: 100%;
    min-height: 400px;
    margin-left: 50px;
    margin-top: 50px;
}

.image-card2 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 150px;
  display: inline-block;
  margin-right: 20px;
  margin-left: 50px;
  margin-top: 10px;
}

.image-card3 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 150px;
  display: inline-block;
  margin-right: 20px;
}

.image-card4 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 150px;
  display: inline-block;
  margin-right: 20px;
}

.details-card1 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 645px;
    max-width: 100%;
    min-height: 60px;
    margin-left: 800px;
    margin-top: -563px;
}

.details-card2 {
  background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 645px;
    max-width: 100%;
    min-height: 150px;
    margin-left: 800px;
    margin-top: 30px;
  
}

.details-card3 {
  background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 645px;
    max-width: 100%;
    min-height: 308px;
    margin-left: 800px;
    margin-top: 10px;
}





